@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "var";
@import "mixin";
@import "header/header";
@import "first/first";
@import "button/button";
@import "footer/footer";

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $color-text-primary;
    line-height: 164%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: $color-black;
}

.wrapper {
    max-width: $wrapper-width;
    width: calc(100% - 60px);
    margin: 0 auto;

}

.contener {
    flex: 1 0 auto;
}

.clearfix {
    clear: both;
}